table{
    padding: 4px;
    border: 2px solid blue;
}

td , th {
    padding: 0px 20px;

}

#chif{

    width: 150px;
    height: 150px;

}

.img_list{
    justify-content: space-around;
    padding: 6px;
    display: flex;
}

.main{
    margin: auto;
    border: 6px  solid  black;
    width: 70%;
}

p{
    font-size: 14px;
    font-family: Roboto;
    color : blue; 

}

h2{
    font-size: 18px;
    font-family: Roboto;
}

h1{
    font-size: 22px;
    font-family: Roboto;
}

.content{
    display: flex;
    width: 100%;
    justify-content: center ;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tabels{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title{
    color : maroon; 
}